<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Disney characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="scanBarcode()">scan barcode</button>
</ion-content>