<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Disney characters</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="toon"></div>
  <div id="ja"></div>
  <button ion-button (click)="scanBarcode()">Scan barcode</button>
</ion-content>
