<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>All the characters</ion-title>
    <ion-buttons end>
        <button ion-button (click)="goAnotherPage()"><ion-icon right name="home"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let item of heros; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
          <button ion-button class="button button-assertive button-clear">
              {{item.name}}
            </button>
            <ion-list>
            <div *ngIf="isGroupShown(i)">The movie: {{item.movie}}</div><br>
            <div *ngIf="isGroupShown(i)">Year: {{item.year}}</div>
          </ion-list>
          </ion-item>
  </ion-list>
  
</ion-content>
